<form action="/create" method="POST">
    <h3>
        Create todo page
    </h3>
    <div class="input-filed">
        <label>Todo title</label>
        <input type="text" name="title">
    </div>
    <button type="submit" class="btn">Add todo</button>
</form>
